{% extends 'homepage/base.html' %}
{% block title %}Наши специалисты{% endblock %}
{% load static %}
{% block content %}

        <main class="Layout__content ">
            <div class='container'>
                <div class="c-breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
                    <ul class="no-ul c-breadcrumbs__list">
                        <li class="c-breadcrumbs__item"><a class="c-breadcrumbs__title c-breadcrumbs__title_home"
                                                           href="/">Главная</a></li>
                        <li class="c-breadcrumbs__item c-breadcrumbs__item_current">Контакты</li>
                    </ul>
                </div>
                <h1 class="page-title">Контакты</h1>
                <div class="border rounded-xl p-3 bg-the-main-light !mt-8">
                    <div class="relative text-lg font-bold text-the-blue before:content-[''] before:w-[5px] before:h-[70%] before:absolute before:left-[-16px] before:top-[15%] before:bg-[#e5e7eb] before:rounded-tl before:rounded-bl">
                        Запись на консультацию к врачу - по звонку!
                    </div>
                    <div class="text-sm"><p><b><a href='tel:89999999999'
                                                  class="no-underline text-the-main hover:underline">8 (999)
                        999-99-99</a></b> <span class='c-telinf-item__minf'>(ежедневно - с 8:00 до 20:00)</span></p>
                        <p>Теперь для записи в консультативно-диагностическое отделение или стационар достаточно просто
                            позвонить! Оператор уточнит детали и запишет вас на приём. Если у врача будет полная запись,
                            вашу заявку примут и запишут, как только появится возможность. Оператор вам перезвонит и
                            сообщит дату и время визита к врачу.</p>
                        <p><b>В Едином контакт-центре вы можете:</b></p>
                        <ul>
                            <li>записаться на прием в консультативно-диагностическое отделение</li>
                            <li>узнать об оказании платных услуг</li>
                            <li>уточнить справочную информацию по интересующим вопросам</li>
                        </ul>
                        <p>В случае, если ваш близкий человек госпитализирован в городской стационар - в Едином
                            контакт-центре вы можете узнать о состоянии его здоровья.</p>
                        <p><b>Обращаем внимание, что запись через регистратуру не доступна.</b></p></div>
                </div>
                <div class="mb- mt-30"><h2 class='c-locinf__title'>Расположение:</h2>
                    <div class='c-locinf'>
                        <div class='c-locinf-item i-location'>
                            <div class='c-locinf-item__tit'>Адрес</div>
                            <div class='c-locinf-item__inf notranslate'>г. Кемерово, Коломенский проезд, д.5</div>
                        </div>
                        <div class='c-locinf-item i-location'>
                            <div class='c-locinf-item__tit'>Как добраться:</div>
                            <div class="c-locinf-item__info"><p><b>1. Территория К4, главный корпус, 12 корпус,
                                родильный дом (Коломенский проезд, д.5): </b></p>
                                <ul class='c-locinf-item__list'>
                                    <li>м. «Каширская» - пешком 20 минут</li>
                                    <li>м. «Каширская» - автобус 820 до остановки «Больница имени Юдина»</li>
                                    <li>м. «Нахимовский проспект» - автобус М19 до остановки «Больница имени Юдина»</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             </main>





<link rel="preload" as="style" href="https://gkbyudina.ru/build/assets/app-595a434c.css"/>
<link rel="modulepreload" href="https://gkbyudina.ru/build/assets/app-4e870733.js"/>
<link rel="stylesheet" href="https://gkbyudina.ru/build/assets/app-595a434c.css"/>
<script type="module" src="https://gkbyudina.ru/build/assets/app-4e870733.js"></script>
<link rel="preload" as="style" href="https://gkbyudina.ru/build/assets/app-e5c7483e.css"/>
<link rel="stylesheet" href="https://gkbyudina.ru/build/assets/app-e5c7483e.css"/>


</body>


</html>

{% endblock %}
